body {
    margin-top: 50px;
    margin-left: 0;
    padding: 0;
}


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbar ul {
    display: flex;
    align-items: center; /* Esta propiedad asegura que el contenido esté centrado verticalmente */
    width: 100%;
    height: 50px; /* Ajusta la altura según sea necesario */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    flex-grow: 6;
    text-align: center;
    justify-content: center; /* Centra horizontalmente el contenido del <li> */
    align-items: center;
}



#navbar li.logo {
    flex-grow: 2;
}

#navbar li.logo a {
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
    justify-content: center; /* Centra horizontalmente el logo */
    height: 100%; /* Limita la altura al 100% del contenedor padre */
    padding: 0; /* Asegúrate de que no haya padding adicional */
}

#navbar li a {
    display: block;
    width: 100%; /* Ocupa todo el ancho de <li> */
    height: 100%; /* Ocupa todo el alto de <li> */
    text-align: center;
    line-height: 50px; /* Igual al alto de tu <li> para centrar el texto verticalmente */
    color: white;
    text-decoration: none;

}

#navbar li.logo img {
    max-height: 50px; /* Ajusta esto según el tamaño deseado para tu logo */
}

#navbar li a:hover {
    background-color: #111;
}


